* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 99%;
    margin: 0 auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.c_flex {
    display: flex;
    justify-content: space-between;
}

.f_flex {
    display: flex;
}

a {
    color: yellow;
    text-decoration: none;
}

li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}


.RText {
    text-align: right;
}

svg {
    width: 20px;
}

.activeNav {
    top: 0;
    width: 100%;
    height: 12vh;
    z-index: 1000;
    position: fixed;
    transition: .5s;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.521);
}


input,
button {
    border: none;
    outline: none;
    background-color: transparent;
}

.contentWidth {
    width: 77%;
}

.homeSlide {
    margin-left: 2em;
}

.homeSlide h1 {
    font-size: 45px;
}

.homeSlide p {
    margin: 20px 0;
}

.homeSlide ul {
    bottom: 0;
    position: absolute;
}

.homeSlide ul li {
    padding: 10px;
    padding-top: 10px;
    border-radius: 50%;
    padding-bottom: 13px;
    border: 2px solid white;
}

.homeSlide ul li.slick-active {
    padding: 10px;
    padding-top: 10px;
    border-radius: 50%;
    padding-bottom: 13px;
    border: 2px solid white;
    box-shadow: 1px 1px 1px 1px black;
}

.homeSlide ul li button {
    color: transparent !important;
    background: transparent !important;
}

.homeSlide ul li button::before {
    left: 0;
    top: 2px;
    margin: auto;
    font-size: 15px;
    color: yellow;
    position: absolute;
}

.homeSlide .box {
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.homeSlide .box .left {
    width: 70%;
}

.homeSlide .box .right {
    width: 30%;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}


.heading svg {
    margin: 10px;
    color: yellow;
}


.box .img img {
    width: 150px;
    height: 150px;
    margin: 0 25px;
    margin-top: 20px;
    object-fit: contain;
}


.container .productSlides {
    height: 55%;
    border-radius: 8px;
}

.container .product {
    margin: 10px;
    height: 17em;
    padding: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background: yellow;
    box-shadow: 0px 0px 3px 2px black;
}

.container .product .productDetails {
    left: 0;
    right: 0;
    top: 0px;
    opacity: 0;
    width: 100%;
    position: absolute;
    padding: 150px 20px;
    transition: .5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.925);
}

.container .product .productDetails:hover {
    opacity: 1;
    backface-visibility: hidden;
}

.productDetails h3 {
    top: 15px;
    left: 6px;
    width: 78%;
    line-break: 2px;
    position: inherit;
    word-wrap: break-word;
}

.product h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.product .rate svg {
    color: rgb(255, 145, 0);
    margin: 5px 5px 5px 0;
}

.product .rate {
    left: 58px;
    right: 58px;
    bottom: 10px;
    position: absolute;
}

.product .price {
    display: flex;
    color: black;
    justify-content: space-between;
}

.product button {
    width: 35px;
    height: 35px;
    color: black;
    margin-top: -10px;
    border-radius: 5px;
    transition: .5s ease-in-out;

}

.product button:hover {
    color: yellow;
    background: black;
}

.product-like {
    top: 0;
    right: 0;
    margin: 10px;
    transition: .5s;
    position: absolute;
}

.product-like label {
    font-size: 12px;
    color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
}

.product-like svg {
    width: 30px;
    color: rgb(204, 9, 9);
    margin-top: 10px;
}

.productDetails:hover .product-like {
    cursor: pointer;
}


.Control_btn_slider.next,
.Control_btn_slider.prev {
    top: 40%;
    width: 40px;
    z-index: 5;
    height: 40px;
    padding: 10.3px;
    color: yellow;
    border-radius: 50%;
    position: absolute;
    background: black;
    transition: .5s ease-in-out;
}

.Control_btn_slider.next:hover,
.Control_btn_slider.prev:hover {
    background: yellow;
    border: 1px solid black;
}

.Control_btn_slider.next:hover svg,
.Control_btn_slider.prev:hover svg {
    color: black;
}

.Control_btn_slider.next svg,
.Control_btn_slider.prev svg {
    color: yellow;
}

.Control_btn_slider.prev {
    left: -20px;
}

.Control_btn_slider.next {
    right: -20px;
}

.cart-total.product h2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.753);
}

.no-items.product {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    color: black;
    overflow: hidden;
    align-items: center;
    background: yellow;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 1px 1px 10px 1px black;
}

.no-items.product a {
    color: black;
    margin-left: 10px;
}

.cart-total.product {
    width: 25%;
    height: 50%;
    padding: 10px;
    color: black;
    overflow: hidden;
    background: yellow;
    border: 2px solid white;
    box-shadow: 1px 1px 10px 1px black;
}

.cart-list.product {
    width: 50em;
    height: 12em;
    margin-bottom: 20px;
    border: 2px solid white;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 4px 1px black;
}


.cart-list.product img {
    width: 10em;
    height: 9em;
}

.cart-items {
    height: auto;
    padding: 50px 0;
    position: relative;
}

.cart-items .cart-details {
    width: 70%;
}

.cart-items .cart-total {
    width: 30%;
    margin-left: 30px;
    padding-bottom: 15px;
}

.cart-items .img {
    width: 150px;
    height: 150px;
}

.cart-items img {
    width: 100%;
    height: 100%;
    object-fit: contains;
}

.cart-items-function .removeCart {
    top: 0;
    right: 0;
    background: red;
    position: absolute;
}

.cartControl.d_flex {
    right: 5px;
    bottom: 5px;
    font-weight: 600;
    position: absolute;
}

.cartControl.d_flex button {
    width: 40px;
    height: 40px;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px 1px black;

}

.cartControl.d_flex svg {
    font-size: 20px;
}

.topCate {
    width: 10px;
    overflow: hidden;
}

.topCate .img {
    width: 100%;
    margin: 30px;
    margin-top: 50px;
}

.topCate .nametop {
    position: relative;
}

.nametop span {
    top: -15px;
    margin: 5px;
    font-size: 12px;
    color: yellow;
    padding: 5px 10px;
    position: absolute;
    background: black;
    border-radius: 50px;
}

.nametop span .tleft {
    left: 0;
}

.nametop span .tright {
    background-color: red;
    position: absolute;
    right: 0;
}

.announc {
    margin-top: 50px;
    text-align: center;
}

.announc .product {
    padding: 30px;
}

.announc .product h3 {
    font-weight: 500;
}

.announc .product p {
    color: red;
    font-size: 15px;
    margin-top: 20px;
}

.announc .img {
    width: 70px;
    height: 70px;
    margin: auto;
    padding: 15px;
    color: yellow;
    line-height: 70px;
    border-radius: 50%;
    padding-right: 15px;
    padding-top: 12.5px;
    background: black;
    margin-bottom: 20px;
    border: 1px white solid;
    box-shadow: 2px 2px 2px 2px black;
}

.announc .img svg {
    width: 40px;
}

footer {
    color: white;
    margin-top: 25px;
    padding: 100px 25px;
    background: black;
}

footer .img {
    padding: 15px 20px;
}

.grid2 {
    display: flex;
    flex-grow: 50em;
    justify-content: space-between;
}

.grid2 .box h2 {
    margin-top: 55px;
}

.grid2 .box h1:hover {
    cursor: pointer;
}

.grid2 .box ul li {
    margin: 15px 0;
    transition: .5s;
}

.grid2 .box ul li:hover {
    margin: 15px 0;
    color: yellow;
    cursor: pointer;
}

.grid2 .box .icon.d_flex .img.d_flex {
    padding: 10px;
    color: black;
    transition: .5s;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background: yellow;
}

.grid2 .box .icon.d_flex .img.d_flex span {
    margin-left: 10px;
}

.grid2 .box .icon.d_flex .img.d_flex:hover {
    cursor: pointer;
    background-color: white;
}

/* .grid2 .box:nth-child(1){
    flex-grow: 30em;
    background-color: red;
    margin-right: 50px;
}

.grid2 .box:nth-child(2){
    flex-grow: 30em;
    margin-right: 30px;
}

.grid2 .box:nth-child(3){
    flex-grow: 30em;
    margin-right: 30px;
}

.grid2 .box:nth-child(4){
    flex-grow: 30em;
    margin-right: 30px;
} */

footer h1 {
    color: yellow;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
}

footer .D_logo {
    width: 50px;
    font-size: 2.5em;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 5px;
    color: transparent;
    font-family: QG-Bold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: yellow;
}

footer .arb_logo {
    color: black;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer .y_logo {
    font-size: 2.5em;
    margin-top: -10px;
    color: transparent;
    font-family: QG-Regular;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: yellow;
}

.activeNavSearch{
    display: none;
}

@media (max-width:600px) {

    /* Navigation Styling form mobile  */

    .TopHead{
        display: none;
    }

    .logo {
        left: 0;
        top: 10px;
        position: absolute;
    }

    .searchDiv {
        display: none;
    }

    .activeNav .logo {
        top: 5px;
    }

    .activeNavSearch{
        top: 20px;
        height: 20px;
        display: flex;
        position: absolute;
        z-index: 99999;
    }

    .Catehide{
        display: none;
    }

    .mobilemenu-toggle .open{
        margin-top: -40px;
    }

    .navTag svg{
        width: 20px;
        color: yellow;
    }

    .Navbar {
        display: none;
    }

    #SearchNavIcon button{
        width: 50px;
        height: 50px;
        display: block;
        transition: .5s;
        border-radius: 5%;
        margin-right: 20px;
        /* padding-left: 5px;
        text-align: center;
        padding-right: 10px; */
        border: 2px solid white;
        background-color: yellow;
    }

    #SearchNavIcon button .open{
        width: 40px;
        padding: 5px;
        color: black;
        margin-top: 1px;
    }

    #SearchNavIcon .close{
        width: 40px;
        padding: 5px;
        margin-top: -5px;
    } 


    /* carousel top slider info mobile stylings */

    #categories-top{
        display: none;
    }

    #homeSlide{
        width: 35em;
        margin-left: 1em;
        margin-top: -50px;
        padding-right: 3em;
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
    }

    #homeSlide ul{
        top: 24em;
    }

    #homeSlidecont h1{
        font-size: 2.6em;
    }

    #homeSlidecont p{
        font-size: 1em;
    }

    main{
        overflow-x: hidden;
    }

    footer{
        overflow-x: hidden;
    }

}

@media (max-width:900px) {}

@media (max-width:1200px) {}

@media (min-width:1800px) {}