.sidebar-open{
    opacity: 0;
    display: none;
}

@media (max-width:400px) {
    #opened{
        left: 0;
        width:70%;
        opacity: 1;
        display: flex;
        overflow: hidden;
    
    }
}

@media (max-width:800px) {
    #opened{
        left: 0;
        width:50%;
        opacity: 1;
        display: flex;
        overflow: hidden;
        box-shadow: 3px 2px 2px black;
    
    }
}

